
.container{
    max-width: fit-content;
    border: 1px solid whitesmoke;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 15px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 400px;
    height: auto;
 }

form > input {
    width: 100%;
    border: 1px solid goldenrod;
    border-radius: 3px;
    padding: 5px;
    margin: 10px;
}

.btn{
    background-color: maroon;
    padding: 5px;
    color: white;
    border-radius: 3px;
    border: none;
    width: 30%;
 }
 button :hover{
    background-color: black;
    color: azure;
 }